[Desktop Entry]
Encoding=UTF-8
Name=DIVIT
Comment=DIVIT P2P Cryptocurrency
Comment[fr]=DIVIT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DIVIT, eşten eşe kriptografik sanal para birimi
Exec=Divitae-qt %u
Terminal=false
Type=Application
Icon=Divitae128
MimeType=x-scheme-handler/Divitae;
Categories=Office;Finance;
